




@font-face {
  font-family: 'Titrage';
  src: url('../fonts/bodoni/bodoni-11-medium-webfont.woff2') format('woff2'),
       url('../fonts/bodoni/bodoni-11-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titrage';
  src: url('../fonts/bodoni/bodoni-11-bold-webfont.woff2') format('woff2'),
       url('../fonts/bodoni/bodoni-11-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
